/* STYLE SECTIONING TAGS */

* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}


body {
 background-color: white; 
  text-align: center;
}


/* STYLE TEXT */

h1 {
  color: black;
  background-color: white;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 200%;
  /*background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_1280.jpg);*/
  
  padding-top: 10px;
  padding-bottom: 10px;
}


h4 {
  color: #E2CBF6;
  background-color: black;
  font-family: sans-serif;
  font-size: 125%;
  
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0%;
  margin-right: 0%;
}


h5 {
  background-color: #CBCBF6;
  background-image: linear-gradient(#E2CBF6, #CBCBF6);
  color: #921169;
  font-family: sans-serif;
  font-size: 115%;
  
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1em;
  margin-top: 5%;
}


p {
  background-color: #CBCBF6;
  background-image: linear-gradient(#E2CBF6, #CBCBF6);
  color: black;
  font-family: 'Mochiy Pop One', sans-serif;
  
  padding: 20px;
  margin-bottom: 1em;
  margin-left: 20%;
  margin-right: 20%;
}


.abouttext {
  background-color: #CBCBF6;
  background-image: linear-gradient(#E2CBF6, #CBCBF6);
  color: black;
  font-family: 'Mochiy Pop One', sans-serif;
  
  margin-top: 2em;
  margin-bottom: 2em;

}


    /* bring the 2 columns on the home page closer together */
#homepara {
  margin-right: 10%;
  margin-left: 30%
}

#homeq {
  margin-left: 10%;
  margin-right: 30%;
}


    /* set up the 2 columns of text on the home conent */
.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.flex-item {
  flex-basis: 100%;
  /*margin: 1%;*/
}



/* STYLE IMAGES */

img {
  max-height: 500px;
  margin-bottom: 0%;
  border-radius: 0%;
}




/* STYLE BUTTONS */

button {
  background-color: #921169;
  color: white;

  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 150%;
  border-radius: 10%;
  border-width: 0px;
  
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}


#addit {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 150%;
  
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 30%;
}



/* STYLE NAV BAR */

ul {
  list-style-type: none;
  background-color: #E2CBF6;
  overflow: hidden;
  padding: 10px;
}

.linker {
  list-style-type: none;
  background-color: black;
  overflow: hidden;
  padding: 10px;
}

li {
  display: inline;
}

li a {
  font-family: 'Bebas Neue', cursive;
  font-size: 150%;
  
  text-align: center;
  text-decoration: none;
  color: black;
  
  padding: .3em;
  margin: 1em;
  border-radius: 15%;
}

.linket {
  text-align: center;
  text-decoration: none;
  color: #E2CBF6;
}

li a:hover {
  color: #CBCBF6;
  background-color: #921169;
}



/* ADD MORE! */

@media screen and (max-width: 850px) {

  .flex-container {
    flex-wrap: wrap;
  }

  
  p {
    margin-left: 10%;
    margin-right: 10%;
  }

  
  #homepara {
  margin-right: 10%;
  margin-left: 10%
  }

  
  #homeq {
  margin-left: 10%;
  margin-right: 10%;
  }

  
  #addit {
  margin-left: 10%;
  margin-right: 10%;
  }

  
  img {
    max-height: 250px;
  }

  
}